<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://10.23.152.108/ios_bilicomic_lokta/2019_08_26_18_50_2.3.1_454/enter/comic-universal.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>comic-universal/output/assert/icon360.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>comic-universal/output/assert/icon58.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.bilibili.bilianime</string>
				<key>bundle-version</key>
				<string>2.3.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>comic-universal</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
